//colors

$Strong-cyan: hsl(172, 67%, 45%);
$Lighter-cyan:hsl(173, 61%, 77%);
$Very-dark-cyan: hsl(183, 100%, 15%);
$Darker-grayish-cyan: hsl(186, 14%, 43%);
$Dark-grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
$Light-cyan:#c5e4e7;

//ui

$background-body:$Light-cyan;
$background-main:$White;
$background-input:$Light-grayish-cyan;
$background-tips:$Very-dark-cyan;
$background-result:$Very-dark-cyan;
$background-tips-selected:$Lighter-cyan;
$background-results-button:$Strong-cyan;
$background-tip-custom:$Light-grayish-cyan;

$color-header:$Darker-grayish-cyan;
$color-text-main:$White;
$color-text-input:$Very-dark-cyan;
$color-text-input-hover:$Very-dark-cyan;
$color-text-result-person:$Dark-grayish-cyan;
$color-text-result-amount:$Strong-cyan;

$outline-input-hover:$Strong-cyan;
